{% load staticfiles %}
<html>
    <head>
        <title>
            {% block title %}
                Приютик
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div>
            <div class="flex-container">
                <div class="site-name">Приютик</div>
                <div class="main-auth">
                    {% if user.is_authenticated %}
                        Добро пожаловать, {{ user.username }}. <a href="{% url 'logout' %}">Выйти</a>
                    {% else %}
                        <a href="{% url 'login' %}">Войти</a> или <a href="{% url 'signup' %}">Зарегистрироваться</a>
                    {% endif %}
                </div>
            </div>
            <div class="flex-container main-menu">
                <a href="{% url 'main_page' %}"><div>Главная</div></a>
                <a href="{% url 'shelter_list'%}"><div>Список приютов</div></a>
                <a href="{% url 'pet_list' %}"><div>Список животных</div></a>
                <a href="{% url 'account' %}"><div>Личный кабинет</div></a>
            </div>
            <div class="content">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </body>
</html>
