body {
    padding-left: 25;
    padding-right: 25;
    padding-top: 10;
    padding-bottom: 20;
}

/**
Верхние две панели
 */

/**
Основной flex-контейнер
 */

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
}

.flex-container >* {
    flex-grow: 1;
}

/**
Первая панель: название слева и авторизация справа
 */

/**
Стиль для названия.
Когда-нибудь его заменит картинка
 */

.site-name {
    font-size: 50;
    color: INDIGO;
    text-shadow: 4px 3px 0px #fff, 9px 8px 0px rgba(0,0,0,0.15);
}

/**
Стиль для кнопки авторизации
 */

.main-auth {
    text-align: right;
}

/**
Вторая панель: меню (Главная, Приюты, Животные, ЛК)
 */

/**
Стили главного меню.
Много странностей...
 */

.main-menu {
    font-size: 20;
}

.main-menu div {
    background-color: #6b7aee;
    text-align: center;
    margin: 1;
    padding: 10;
}

.main-menu :first-child div {
    border-radius: 10px 0px 0px 10px;
}

.main-menu :last-child  div{
    border-radius: 0px 10px 10px 0px;
}

.main-menu a {
    color: WHITE;
    text-decoration: none;
}

.main-menu div:hover {
    background-color: #5a60cd;
}

/**
Содержимое сайта
 */

.content {
    padding: 10;
}

.navigation {
    margin: 5;
    text-align: center;
}

.navigation label {
    margin: 10;
}

/**
Плитки
 */

.bord-block {
    border-radius: 10px;
    border: 2px solid #5a60cd;
    background: rgb(172, 172, 238);
    text-align: center;
}

.bord-block a{
    color: WHITE;
    text-decoration: none;
}

.pet-elem {
    margin: 25;
    padding: 15;
    padding-top: 30;
    font-size: 20;
}

.work-elem {
    margin: 10;
    padding: 15;
    font-size: 15;
}

.admin-elem {
    margin: 10;
    padding: 15;
    font-size: 15;
}

.comment-elem {
    margin: 10;
    padding: 15;
    font-size: 15;
}

/**
Фильтр животных
 */

.filter-container{
    padding: 15;
    padding-top: 20;
    font-size: 15;
}

.filter-container select {
    background-color: rgb(107, 122, 238);
    color: WHITE;
}

.filter-container input {
}