{% extends 'base.html' %}

{% block title %}
    Личный кабинет {%if user.is_authenticated %}{{user.username}}{% endif %} | {{ block.super }}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div><h4>{{user.username}}</h4></div>
    <div>
        {% for w in work %}
        <div class="bord-block work-elem">
            <div>Работа в приюте <a href="{% url 'shelter_detail' w.shelter.id %}">{{w.shelter}}</a></div>
            <div>Дата {{w.date}}</div>
            <div>Рабочее время {{w.work_time}} часов</div>
            <div>Награда {{w.reward}} р.</div>
        </div>
        {% endfor %}
    </div>
    <div>
    {% for adm in admins %}
        <div class="bord-block admin-elem">
            Вы администрируете: <a href="{% url 'shelter_detail' adm.id %}">{{adm.name}}</a>
        </div>
    {% endfor %}
    </div>
{% else %}
    <div class="bord-block form-elem">
        <div>Вы не авторизованы! Авторизуйтесь, чтобы перейти в личный кабинет.</div>
        <div>
            <a href = "{% url 'login' %}"><div>Страница авторизации</div></a>
            <a href = "{% url 'signup' %}"><div>Страница регистрации</div></a>
        </div>
    </div>
{% endif %}
{% endblock %}
