{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Список питомцев | {{ block.super }}
{% endblock %}

{% block content %}
<form method="post">
<div class="filter-container">
        {% csrf_token %}
        {% for field in filter_form %}
            <div>
               {{field.label}} {{field}}
            </div>
        {% endfor %}
        <button id="find" class="pet-filter btn btn-primary" onclick="">Найти</button>
</div>
 </form>
<div>
    <div class="navigation">
        <button class="prev btn btn-primary" onclick="">Предыдущая</button>
        <label id='page'>1</label>
        <button class="next btn btn-primary" onclick="">Следующая</button>
    </div>
    <div id="main-div">
    {% for pet in pets %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="pet_elem ">
                <a href="../{{pet.id}}">
                    <img height=200 width=200 src="{{ pet.photo.url }}" class="img-rounded"/>
                    <p>{{pet.name}}</p>
                </a>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="navigation">
        <button class="prev btn btn-primary" onclick="">Предыдущая</button>
        <button class="next btn btn-primary" onclick="">Следующая</button>
    </div>
</div>
<input id="ajax_link" hidden=true value="{% url 'ajax_pets' %}"/>
<script src="{% static 'js/pets_list.js' %}"></script>
{% endblock %}
