{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Список питомцев | {{ block.super }}
{% endblock %}

{% block content %}
<div>
        {% csrf_token %}
        {% for field in filter_form %}
            <div>
               {{field.label}} {{field}}
            </div>
        {% endfor %}
        <button id="find" onclick="">Найти</button>
</div>
<div>
    <div>
        <button class="prev" onclick="">Предыдущая</button>
        <label id='page'>1</label>
        <button class="next" onclick="">Следующая</button>
    </div>
    <div id="main-div">
    </div>
    <div>
        <button class="prev" onclick="">Предыдущая</button>
        <button class="next" onclick="">Следующая</button>
    </div>
</div>
<script> 
    var ajax_link = "{% url 'ajax_pets' %}";
    var pet_list_link = "{% url 'pet_list' %}";
    var media_url = "{{ MEDIA_URL }}";
    var shel_id = -1;
</script>
<script src="{% static 'js/pets_list.js' %}"></script>
<script>
    getPage(ajax_link, "?page=1");
</script>
{% endblock %}
