{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Список питомцев | {{ block.super }}
{% endblock %}

{% block content %}
    <form method="GET" id="filter-form">
        <div class="filter-container flex-container bord-block">
            {% csrf_token %}
            {% for field in filter_form %}
                <div>
                   {{field.label}} {{field}}
                </div>
            {% endfor %}
            <button id="find" onclick="" class="btn btn-default">Найти</button>
        </div>
    </form>
    <div class="navigation">
        <button class="prev btn btn-default" onclick="">Предыдущая</button>
        <label id='page'>1</label>
        <button class="next btn btn-default" onclick="">Следующая</button>
    </div>
    <div id="main-div" class="flex-container">
    </div>
    <div class="navigation">
        <button class="prev btn btn-default" onclick="">Предыдущая</button>
        <button class="next btn btn-default" onclick="">Следующая</button>
    </div>
    <div id="main" data-ajax-pet-list="{% url 'ajax_pets' %}"
        data-pet-list="{% url 'pet_list' %}"
        data-media-url="{{ MEDIA_URL }}"
        data-shel-id="-1"></div>
    <script src="{% static 'js/pets_list.js' %}"></script>
{% endblock %}
