{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Список приютов | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="navigation">
        <button class="prev btn btn-primary" onclick="">Предыдущая</button>
        <label id='page'>1</label>
        <button class="next btn btn-primary" onclick=""\>Следующая</button>
    </div>
    <table id="shel_list" class="table  table-bordered table-hover table-condensed">
    </table>
    <div class="navigation">
        <button class="prev btn btn-primary" onclick="">Предыдущая</button>
        <button class="next btn btn-primary" onclick="">Следующая</button>
    </div>
    <script src="{% static 'js/shel_list.js' %}"></script>
    <script>
        var ajax_link = "{% url 'ajax_shelters' %}";
        getPage(ajax_link, "?page=1");
    </script>
{% endblock %}
