{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Подробная информация о {{shelter.name}} | {{ block.super }}
{% endblock %}


{% block content %}
    <div>
        <div class="name">{{shelter.name}}</div>
        <div>Адрес: {{shelter.location}}</div>
        <div>Почта: {{shelter.email}}</div>
    </div>
<div class="filter-container">
        {% csrf_token %}
        {% for field in filter_form %}
            <div>
               {{field.label}} {{field}}
            </div>
        {% endfor %}
        <button id="find" class="pet-filter btn btn-primary" onclick="">Найти</button>
</div>
    <div>
        <div class="navigation">
            <button class="prev btn btn-primary" onclick="">Предыдущая</button>
            <label id='page'>1</label>
            <button class="next btn btn-primary" onclick="">Следующая</button>
        </div>
        <div id="main-div">
        </div>
        <div class="navigation">
            <button class="prev btn btn-primary" onclick="">Предыдущая</button>
            <button class="next btn btn-primary" onclick="">Следующая</button>
        </div>
    </div>
<script> 
    var ajax_link = "{% url 'ajax_pets' %}";
    var media_url = "{{ MEDIA_URL }}";
    var pet_list_link = "{% url 'pet_list' %}";
    var shel_id = {{shelter.id}};
</script>
<script src="{% static 'js/pets_list.js' %}"></script>
<script>
    getPage(ajax_link, "?page=1&shel_id="+shel_id);
</script>
{% endblock %}
