{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Список приютов | {{ block.super }}
{% endblock %}

{% block content %}
    <div class="navigation">
        <button class="prev btn btn-default" onclick="">Предыдущая</button>
        <label id='page'>1</label>
        <button class="next btn btn-default" onclick=""\>Следующая</button>
    </div>
    <table id="shel_list" class="table table-striped table-bordered table-hover table-condensed">
        <thead>
            <tr><th>Название приюта</th><th>Оценка</th><th>Количество</th></tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="navigation">
        <button class="prev btn btn-default" onclick="">Предыдущая</button>
        <button class="next btn btn-default" onclick="">Следующая</button>
    </div>
    <div id="main" data-ajax-shel-list="{% url 'ajax_shelters' %}"></div>
    <script src="{% static 'js/shel_list.js' %}"></script>
{% endblock %}
