{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Администрирование {{shelter.name}} | {{ block.super }}
{% endblock %}


{% block content %}
    <div>
        <form method="post">
            {% csrf_token %}
            {{ shel_form.as_p }}
            <input type="submit" value="отправить" name="shelbtn"/>
        </form>
        <div>
            <div>Средний рейтинг: {{ shelter.aver }}</div>
            <div>Количество оценок: {{ shelter.cnt }}</div>
        </div>
    </div>
    <div class="filter-container">
        {% csrf_token %}
        {% for field in filter_form %}
            <div>
               {{field.label}} {{field}}
            </div>
        {% endfor %}
        <button id="find" class="pet-filter btn btn-primary" onclick="">Найти</button>
    </div>
    <div>
        <div class="navigation">
            <button class="prev btn btn-primary" onclick="">Предыдущая</button>
            <label id='page'>1</label>
            <button class="next btn btn-primary" onclick="">Следующая</button>
        </div>
        <div class="main-div">
        </div>
        <div class="navigation">
            <button class="prev btn btn-primary" onclick="">Предыдущая</button>
            <button class="next btn btn-primary" onclick="">Следующая</button>
        </div>
    </div>
    <script>
        var ajax_link = "{% url 'ajax_pets' %}";
        var media_url = "{{ MEDIA_URL }}";
        var pet_list_link = "{% url 'pet_list' %}";
        var shel_id = {{shelter.id}};
    </script>
    <script src="{% static 'js/pets_list_admin.js' %}"></script>
    <script>
        getPage(ajax_link, "?page=1&shel_id="+shel_id);
    </script>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ pet_form.as_p }}
            <input type="submit" value="отправить" name="addpet"/>
        </form>
    </div>
{% endblock %}