{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Подробная информация о {{shelter.name}} | {{ block.super }}
{% endblock %}


{% block content %}
    <div>
        <div>{{shelter.name}}</div>
        <div>Адрес: {{shelter.location}}</div>
        <div>Почта: {{shelter.email}}</div>
        <div>Средний рейтинг: {{ shelter.aver }}</div>
        <div>Количество оценок: {{ shelter.cnt }}</div>
    </div>
    <div>
        {% csrf_token %}
        {% for field in filter_form %}
            <div>
               {{field.label}} {{field}}
            </div>
        {% endfor %}
        <button id="find" onclick="">Найти</button>
    </div>
    <div>
        <div>
            <button class="prev" onclick="">Предыдущая</button>
            <label id='page'>1</label>
            <button class="next" onclick="">Следующая</button>
        </div>
        <div class="main-div">
        </div>
        <div>
            <button class="prev" onclick="">Предыдущая</button>
            <button class="next" onclick="">Следующая</button>
        </div>
    </div>
    <div>
        <div>
            {% for com in comments %}
                <div>
                    <div>Оценка: {{ com.rating }}</div>
                    <div>Комментарий: {{ com.comment }}</div>
                    <div>Пользователь: {{ com.content_object }}</div>
                </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            <div>
                <form method="post">
                    {% csrf_token %}
                    {{ com_form.as_p }}
                    <input type="submit" value="отправить"/>
                </form>
            </div>
        {% else %}
            <div>
                Только авторизованные пользователи могут оставлять комментари.
            </div>
        {% endif %}
    </div>
    <script>
        var ajax_link = "{% url 'ajax_pets' %}";
        var media_url = "{{ MEDIA_URL }}";
        var pet_list_link = "{% url 'pet_list' %}";
        var shel_id = {{shelter.id}};
    </script>
    <script src="{% static 'js/pets_list.js' %}"></script>
    <script>
        getPage(ajax_link, "?page=1&shel_id="+shel_id);
    </script>
{% endblock %}
