{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    Подробная информация о {{shelter.name}} | {{ block.super }}
{% endblock %}


{% block content %}
    <div class="bord-block form-elem">
        <label id="shel-status"></label>
        {% if shel_form %}
            <div><h4>Изменить информацию о приюте</h4></div>
            <form id="shel-form">
                {% csrf_token %}
                {% for field in shel_form %}
                    <div>
                       {{field.label}} {{field}}
                    </div>
                {% endfor %}
                <button id="shelbtn" class="btn btn-default">Сохранить</button>
            </form>
        {% else %}
            <div>{{shelter.name}}</div>
            <div>Адрес: {{shelter.location}}</div>
            <div>Почта: {{shelter.email}}</div>
        {% endif %}
        <div id="aver-rate">Средний рейтинг: {{ shelter.aver }}</div>
        <div id="cnt-rate">Количество оценок: {{ shelter.cnt }}</div>
        <div><a href="{% url 'shelter_detail' shelter.id %}pets">Животные этого приюта</a></div>
    </div>
    <div>
        <div id="comments-div" class="flex-container">
            {% for com in comments %}
                <div class="bord-block comment-elem">
                    <div>Оценка: {{ com.rating }}</div>
                    <div>Комментарий: {{ com.comment }}</div>
                    <div>Пользователь: {{ com.content_object }}</div>
                </div>
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            <form id="comment-form">
                <div class="bord-block">
                    {% csrf_token %}
                        {% for field in com_form %}
                            <div>{{field.label}}{{field}}</div>
                        {% endfor %}
                    <button id="comment" class="btn btn-default" onclick="">Отправить</button>
                </div>
            </form>
        {% else %}
            <div class="bord-block form-elem">
                Только авторизованные пользователи могут оставлять комментари.
            </div>
        {% endif %}
    </div>
    <div id="main"
        data-shel-id="{{shelter.id}}"
        data-shel-admin="{% url 'ajax_shel_admin' %}"
        data-ajax-comment="{% url 'ajax_comment' %}"></div>
    <script src="{% static 'js/shel_admin.js' %}"></script>
    <script src="{% static 'js/comment.js' %}"></script>
{% endblock %}
